.navbar{
 background-color: #646FD4 !important;
}

.arial{
    color: white !important;
}

.btn-login{
    background-color: #646FD4 !important;
    border-color: #646FD4 !important;
}


.modal-content{
    background-color: #DBDFFD;
}
    