img{
    object-fit: cover;
    width:17vw;
    height: 17vw !important;
    padding: 1vw !important;
    
}

.container-pets{
    display: inline-block;
    background: #DBDFFD;
    padding: 2px;
    margin: 10px;
    height: auto;
    width: auto;
}

.container-pets :hover{
    cursor: pointer;
}
.pets-info{
    font-size: 10px;
}

